body {
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
}

.container-large {
  max-width: 1052px;
  margin-inline: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-block: 92px 96px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: inherit;
  height: inherit;
}

.active {
  text-decoration: none;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  text-transform: lowercase;
  list-style: circle;
  font-size: 18px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: flex-end;
  font-style: normal;
  width: 100%;
  font-size: 18px;
  line-height: 135%;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 757px;
  padding-top: 165px;
  position: relative;
  box-sizing: border-box;
}

.overlay {
    background-color: rgb(0 0 0 /0.6);
    position: absolute;
    z-index: 1;
    inset: 0;
    pointer-events: none;
}

.cover__title {
  min-width:1000px;
  min-height: 385px;
  color: #ffffff;
  font-family: raleway;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  display: flex;
  position: relative;
  flex-direction: column;
  text-transform: uppercase;
  z-index: 1;
  
}


.accent {
  display: block;
  align-self: flex-start;
  padding-left: 50px;
  width: 286px; 
}

.text-center {
  align-self: center; 
  width: 339px;
  margin-top: 21px;
  margin-right: 121px;
  
  
}

.text-right {
  align-self: flex-end;
  margin-top: 20px;
  margin-left: 40px;
  padding-right: 437px;
  
  
 
}

.description {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  margin-top: 95px;
  border: 1px solid #ffffff;
  color: #fff;
  text-transform: uppercase;
}


.text__auctione {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  align-self: center;
  text-transform: uppercase;  
}


.description button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.lots__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  position: relative;
  height: 520px;
  padding: 32px;
  color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card__title {
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 3px solid #fff;
  max-width: 80%;
}

.card__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card__film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__painting {
  background-image: url(../images/card-lot-03.jpg);
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
