body {
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
}

.container-large {
  max-width: 1052px;
  margin-inline: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-block: 92px 96px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: inherit;
  height: inherit;
}

.active {
  text-decoration: none;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  text-transform: lowercase;
  list-style: circle;
  font-size: 18px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: flex-end;
  font-style: normal;
  width: 100%;
  font-size: 18px;
  line-height: 135%;
}

.cover {
  background-image: url(../images/cover.jpg);
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  min-height: 757px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  
}

.overlay {
  background-color: rgb(0 0 0 /0.6);
  position: absolute;
  z-index: 1;
  inset: 0;
  pointer-events: none;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  z-index: 1;
  letter-spacing: 0.3em;
}

.aligned-text { 
  display: block;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}


.aligned-text_left {
  text-align: left; 
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
  padding-top: 20px;
  
  
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
  padding-top: 20px;  
}

.cover__description {
  display: flex;
  gap: 107px;
  z-index: 1;
  padding-top: 106px;
}



.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 1.16rem;
  padding-top: 12px;
}




.bet-button {
  align-items: start;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  height: 51px;
}

.lots {
 
}

.lots__heading {
font-family: "Raleway", sans-serif;
font-size: 40px;
text-transform: uppercase;
font-weight: 700;
}

.lots__card-list {
 list-style: none;
  margin-top: 44px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  min-height: 596px;
  padding: 32px;
  color: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  
}

.card__title {
  margin: 0 0 16px;
  font-size: 20px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 8px;
  border-bottom: 3px solid #fff;
  max-width: 80%;
  z-index: 1;
}

.card__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}



.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about__logo {
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}




